
html {
  font-family: Nunito, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

header {
  height: 100vh;
}

@media only screen and (min-width: 38em) {

  header {
    margin-left: 10rem;
    margin-top: 10rem;
    height: 100vh;
  }

}
