
html {
  font-family: "Work Sans", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.p {
  color: #eb8a53;
}

.margin {
  margin: 10em 4em 8em;
}

@media only screen and (min-width: 20em) {

  header {

  }

  .font {
    font-size: 2.3686rem;
    line-height: 3.25rem;
    text-align: center;
  }

  .nav {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {


  .font {
    font-size: 5.6102rem;
    line-height: 7.475rem;
    text-align: left;
  }

  .nav {
    float: left;
    text-align: left;
    margin-top: 3rem;
  }

}

@media only screen and (min-width: 60em) {

  .margin {
    margin: 10em 0 8em;
  }

  .nav {
    float: right;
    text-align: left;
    margin-top: 6rem;
  }

}
